/* nav.module.css */
.nav {
    height: 3rem;
    top: 0;
    z-index: 4;
    position: relative;
    padding: 0 5rem;
    display: flex;
  }
  
  .logoContainer {
    height: 100%;
    display: flex;
    margin-top: 1.5rem;
  }
  
  .btncon {
    display: flex;
    align-items: center;
    margin-left: auto; 
    margin-top: auto; 
    gap: 1rem;
  }

  .sign {
        padding: 0.5rem 0.9rem;
        border-radius: 0.5rem;
        border: 1.5px solid white;
        background: transparent;
        color: white;
        cursor: pointer;
        transition: all 300ms ease-in-out;
  }
  .sign:hover {
      transform: translateY(-2px);
      
  }

  .signup {
        padding: 0.5rem 0.9rem;
        border-radius: 0.5rem;
        background: var(--gradient-main, linear-gradient(225deg, #18C8FF 0%, #933FFE 100%));
        border: none;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        color: white;
        
  }

  .signup:hover {
    transform: translateY(-2px);
     
  }
  
  .signnav {
    height: 3rem;
    padding: 0rem 4rem;
    align-items:flex-end;
    display: flex;
    background-color: black;
    position: relative;
    z-index: 6;
  }
  
  