.signup {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

.model {
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 35rem;
    background-color: rgb(0, 0, 0);
    border-radius: 2rem;
    border: 1px solid white;
    z-index: 5;
    padding: 1rem 1rem;
    display: flex;
  flex-direction: column;
  align-items: center;
  }

  .h {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
  }

  .row {
    display: flex;
     
  }

  .input {
    display: flex;
    flex-direction: column;
    margin: 1.7rem;
  }
  .para {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .inp {
    width: 20rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
  }

  .buttonn {
    padding:1rem 4rem;
    border-radius: 2rem;
    cursor: pointer;
    background : linear-gradient(to right ,orange , purple);
    border: none;
    color: white;
    margin-top: 0.5rem;
  }

  .buttonn:disabled {
    color: rgb(255, 255, 255);
    background-color: rgb(185, 183, 183);
    cursor: not-allowed;
    background-image: none;
  }